html {
	font-size: 14px;
}

.blog-masthead {
	background-color:  #b34848;
}

h1, h2, h3, h4, h5, h6 {
	color: #b34848;
}

a.blog-post-title-link {
	color: #b34848;
}

.blog-post-title-link:hover {
	text-decoration: underline;
}

/* Err Message */
.c-err_message__text {
	font-size: 13px;
	line-height: 17px;
	color: #ff0000;
}
